body {
	padding: 20px 10px;
	background: #3D3D3D;
	background-image: url(images/bggrid.png);
	background-repeat: repeat;
	
	text-align: center;
}

div {
	margin: auto;
}

h1 {
	font-size: 48pt;
	color: #ffffff;
	text-align: center;
	font-family: Helvetica, Arial, Verdana;
	margin: 3px 0px;
}

h1.titlelogo {
	width: 816px;
	height: 125px;
	background-image: url(images/title.png);
	text-indent: -9999px;
	
	margin: auto;
	margin-top: 8px;
}

h3 {
	font-size: 24pt;
	color: white;
	text-align: center;
	font-family: Helvetica, Verdana, Arial;
	margin: 3px 0px;
}

h4 {
	font-size: 20pt;
	font-family: sans-serif;
	color: white;
	text-align: center;
	text-shadow: 0px 0px 2px white;
	
	margin: .5em 0;
}

h4.deadline {
	font-size: 60pt;
	line-height: 5px;
	margin-bottom: 60px;
}

h5 {
	font-size: 20pt;
	font-family: sans-serif;
	color: white;
	text-align: left;
	text-shadow: 0px 0px 2px white;
	
	margin: .5em 0;
}

p {
	font-size: 16pt;
	color: #eeeeee;
	text-align: left;
	
	margin-left: 24px;
}

ul {
	font-size: 16pt;
	color: #eeeeee;
	text-align: left;
}

li {
	margin-top: .5em;
}

p a, ul a {
	color: #c4c4ff;
	
	transition: all 1s;
	-moz-transition: all 1s; /* Firefox 4 */
	-webkit-transition: all 1s; /* Safari and Chrome */
	-o-transition: all 1s; /* Opera */
}

p a:hover, ul a:hover {
	color: #244444;
}

/* Adapt for 5 subpage titles */
h2.plaque {
	font-size: 20pt;
	font-family: "LeagueScriptThinLeagueScript";
	color: white;
	width: 500px;
	height: 100px;
	
	background-image: url(images/plaque.png);
	background-repeat: no-repeat;
	
	overflow: hidden;
	
	margin: auto;
	padding-top: 40px;
	margin-bottom: -40px;
}

h3.titleintro {
	font-size: 20pt;
	font-family: "LeagueScriptThinLeagueScript";
}

img {
	border-style: none;
	margin: auto;
	margin: 8px;
}

iframe.box {
	background: white;
	
	border: 1px solid #eeeeee;
	box-shadow: 0px 0px 10px black;
	border-radius: 3px;
	
	margin-bottom: 16px;
}

div.unisex {
	text-align: left !important;
}

div.female, div.female * {
	text-align: right;
}

img.cutthumb {
	display: inline;
	margin: -8px;
}

div.unisex img.cutthumb {
	margin-right: -2px;
}

div.female img.cutthumb {
	margin-left: -2px;
}

/* Recenter full-width (800px) images */
.shadowoverflow {
	margin-left: -8px;
}

div.wrapper {
	margin: auto;
	max-width: 800px;
}

div.formdownload {
	max-width: 256px;
}

div.tiles {
	height: 136px;
}

a.tile {
	background-image: url(images/tilebg.png);
	
	display: inline-block;
	text-align: center;
	
	border: 1px solid #eeeeee;
	margin-left: 8px;
	margin-right: 8px;
	
	/* My workaround for padding being additive to div height */
	width: 128px;
	height: 103px;
	padding-top: 25px;
	margin-top: 25px;
	margin-bottom: 90px;
	
	overflow: hidden;
	
	box-shadow: 0px 0px 10px black;
	border-radius: 3px;
	
	font-size: 24pt;
	color: #495068;
	text-align: center;
	font-family: Helvetica, Verdana, Arial;
	text-decoration: none;
	
	transition: all 1s;
	-moz-transition: all 1s; /* Firefox 4 */
	-webkit-transition: all 1s; /* Safari and Chrome */
	-o-transition: all 1s; /* Opera */
}

a.getone {
	border: 1px solid #492068;
	box-shadow: 0px 0px 20px #290048;
	
	color: #492068;
}

a.tile:hover {
	box-shadow: 0px 0px 15px #0055ff;
	border-color: #0055ee;
	color: #3366CC;
}

a.button {
	background-image: url(images/tilebg.png);
	
	display: block;
	text-align: center;
	
	border: 1px solid #eeeeee;
	padding: 5px 10px;
	
	overflow: hidden;
	
	box-shadow: 0px 0px 10px black;
	border-radius: 3px;
	
	font-size: 24pt;
	color: #495068;
	text-align: center;
	font-family: Helvetica, Verdana, Arial;
	text-decoration: none;
	
	transition: all 1s;
	-moz-transition: all 1s; /* Firefox 4 */
	-webkit-transition: all 1s; /* Safari and Chrome */
	-o-transition: all 1s; /* Opera */
}

a.button.small {
	display: inline;
	font-size: 1em;
	line-height: 3em;
}

a.button:hover {
	box-shadow: 0px 0px 15px #0055ff;
	border-color: #0055ee;
	color: #3366CC;
}


/* Generated by Font Squirrel (http://www.fontsquirrel.com) on February 4, 2012 07:53:10 PM America/New_York */
/* Side note: Font Squirrel is awesome. Sincerely, Jacob */

@font-face {
	font-family: 'LeagueScriptThinLeagueScript';
    src: url('fonts/LeagueScript-webfont.eot');
    src: url('fonts/LeagueScript-webfont.eot?#iefix') format('embedded-opentype'),
    	url('fonts/LeagueScript-webfont.woff') format('woff'),
    	url('fonts/LeagueScript-webfont.ttf') format('truetype'),
    	url('fonts/LeagueScript-webfont.svg#LeagueScriptThinLeagueScript') format('svg');
	font-style: normal;
}